@import url('https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&family=Seaweed+Script&Ubuntu:ital,wght@1,400&display=swap');

@import './components/header.scss';
@import './components/hero.scss';
@import './components/message.scss';

@font-face {
  font-family: minmoji;
  src: url('https://minmoji.ucda.jp/fontseot/https%3A__newcreator.org');
  src: local('minmoji'),
    url('https://minmoji.ucda.jp/fontswoff/https%3A__newcreator.org') format('woff'),
    url('https://minmoji.ucda.jp/fonts/https%3A__newcreator.org') format('opentype');
}

body {
  margin: 0;
  // background: #EFF3F4;
  background-color: #FFF;
  font-family: minmoji,
    'minmoji',
    'Noto Sans JP',
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    "Helvetica Neue",
    sans-serif;
}

.footer--sticky {
  position: fixed;
  bottom: 0;
  background-color: #53B1F0;
  height: 60px;
  width: 100%;
  text-align: center;
  display: table;
  z-index: 1;

  &__text {
    color: #FFF;
    display: table-cell;
    vertical-align: middle;
  }
}
