@import url('https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&family=Seaweed+Script&display=swap');

/* hero */

html,
body {
  background: #EFF3F4;
  font-family: 'Noto Sans JP',
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    "Helvetica Neue",
    sans-serif;
}

.title {
  padding: 20px 20px 4px 20px;
}

.card-text {
  padding: 0 20px 8px 20px;
}

.top-title {
  font-size: 3.5rem;
  font-family: 'Seaweed Script', cursive;
  transform: rotate(-2.5deg);
  line-height: 110%;
}

.hero.is-info {
  background-image: url(../../img/cover.jpg) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero.is-medium .hero-body {
  padding: 30vh 1.5rem
}

.hero-body .title {
  color: hsl(192, 17%, 99%) !important;
}

.hero-body .subtitle {
  color: hsl(192, 17%, 99%) !important;
  padding-top: 3rem;
  line-height: 1.5;
}

.box.cta {
  border-radius: 0;
  border-left: none;
  border-right: none;
}

.card-image>.fa {
  font-size: 8rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #209cee;
}

.card-content .content {
  font-size: 14px;
  margin: 1rem 1rem;
}

.card-content .content h4 {
  font-size: 16px;
  font-weight: 700;
}

.card {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
  margin-bottom: 2rem;
}

.intro {
  padding: 3rem 0 5rem 0;
  text-align: center;
}

.sandbox {
  padding: 5rem 0;
}

.tile.notification {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.is-shady {
  animation: flyintoright .4s backwards;
  background: #fff;
  box-shadow: rgba(0, 0, 0, .1) 0 1px 0;
  border-radius: 4px;
  display: inline-block;
  margin: 10px;
  position: relative;
  transition: all .2s ease-in-out;
}

.is-shady:hover {
  box-shadow: 0 10px 16px rgba(0, 0, 0, .13), 0 6px 6px rgba(0, 0, 0, .19);
}

/*adds font awesome stars*/
footer li:before {
  content: '\f1b2';
  font-family: 'FontAwesome';
  float: left;
  margin-left: -1.5em;
  color: #147efb;
}

.footer {
  margin: 3rem 0 0 0;
  padding: 3rem 1.5rem 1rem;
}


/* nav */

.logo {
  background-image: url(../../img/logo-black.svg);
  height: 30px;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: contain;
  color: transparent;
  margin: 0;
  font-size: 30px;
}

.header-nav {
  width: 75%;
  height: 30px;
  margin: 40px auto 40px auto;
  background-color: white;
  /* border: solid thin black; */
  border-radius: 30px;
  padding: 15px 30px 15px 40px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  box-shadow: 0 0 4px #a9a9a9;
  box-sizing: content-box;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  bottom: 0;
}


@media screen and (max-width: 980px) {
  .header-nav {
    width: calc(100% - 140px);
    margin: 40px auto 40px auto;
  }
}

/* news */
.news {
  margin-right: 4px;
}

/* section */

.section-heading {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 2em;
}

.work-item {
  margin-bottom: 1rem;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  border-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 5px 20px rgba(14, 25, 80, 0.3);
}

.work-item:hover {
  -webkit-transform: scale(1.055) translateY(-2px);
  transform: scale(1.055) translateY(-2px);
  -webkit-box-shadow: 0 2px 25px 0 rgba(30, 30, 30, 0.1);
  box-shadow: 0 2px 25px 0 rgba(30, 30, 30, 0.1);
}


.main-content .section-dark {
  background-color: #f0f3f5;
  padding: 60px 0px;
}

.main-content .section-dark.resume {
  height: 400px;
  padding-top: 100px;
}

@media (max-width: 599px) {
  .main-content .section-dark.resume {
    padding-top: 75px;
  }
}

.main-content .section-dark.resume .title {
  padding: 20px;
}

.main-content .section-dark.resume button {
  border: 2px solid #43485c;
  background: white;
  color: #43485c;
  height: 50px;
  width: 250px;
  font-size: 1rem;
  text-transform: uppercase;
}

.main-content .section-dark.resume .fa-download {
  color: #1f2c6c;
}

.section-dark.my-work {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

@media (max-width: 599px) {
  .main-content .section-dark.my-work {
    padding: 75px 20px;
  }
}

.main-content .section-dark.my-work .work-item {
  margin-bottom: 1rem;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  border-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 5px 20px rgba(14, 25, 80, 0.3);
}

.main-content .section-dark.my-work .work-item:hover {
  -webkit-transform: scale(1.055) translateY(-2px);
  transform: scale(1.055) translateY(-2px);
  -webkit-box-shadow: 0 2px 25px 0 rgba(30, 30, 30, 0.1);
  box-shadow: 0 2px 25px 0 rgba(30, 30, 30, 0.1);
}

/* features */
.features {
  padding: 1rem 2em;
}

.title:not(.is-spaced)+.subtitle {
  margin-top: 1rem;
}

.copyright {
  margin: 2rem 0 0 0;
}
